.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu a {
  position: relative;
  display: inline-block;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover:after,
.header-menu a.ativo::after {
  width: 100%;
}

.header-menu .botao::after {
  display: none;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }
  .header-menu {
    gap: 20px;
  }
}
